.one{
    height: 200px;
    background-color: red;
}
.two{
    height: 200px;
    background-color: yellowgreen;
}
.three{
    height: 200px;
    background-color: blue;
}
.four{
    height: 200px;
    background-color: yellow;
}