.carousel .item{
    background-image: url("../hielo/images/slide01.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .item-2{
    background-image: url("../Hielo/images/slide02.jpg");
}

.carousel .item-3{
    background-image: url("../Hielo/images/slide03.jpg");
}

.carousel .item-4{
    background-image: url("../Hielo/images/slide04.jpg");
}

.carousel .item-5{
    background-image: url("../Hielo/images/slide05.jpg");
}